:root {
    --font-primary: "Montserrat", sans-serif;
}
* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    background-color: #ECF0F3;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    height: auto;
}

.section{
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dce1e4;
}

.section-about{
    padding-top: 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dce1e4;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #3c3e41;
    margin-bottom: 50px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 1px solid #dce1e4;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    height: 70px;    
}
.header-logo{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #0d1013;
}
.header-list{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    text-transform: uppercase; 
}

.header-item{
    color: #0d1013;
    cursor: pointer;
    padding: 10px;
}

.header-item:hover, .header-item:focus {
   color: #fc636b;
}

.header-wrapper {
    display: none;
}

.about{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
}

.about-text{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #3c3e41;
}

.about-title{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
    color: #1e2125;
}

.red{
   color: #ff014f;
}

.about-descrition{
    font-size: 16px;
    line-height: 30px;
    opacity: 0.9;
}

.about-wrapper{
    margin-top: 30px;
    max-width: 750px;
}

.skills{
    flex-wrap: wrap;
}

.skills-item, .contacts-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    width: 60px;
    height: 60px;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #D1D9E6,
        -5px -5px 15px #ffffff;
    cursor: pointer;
    fill: #3c3e41;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts-link:hover{
    fill: #ffffff;
    transform: scale(1.1);
    background:  linear-gradient(145deg, #6a67ce, #fc636b);
    
}

.contacts-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.center{
    justify-content: center;
    text-align: center;
}

.skills-item img {
    max-height: 30px;
}

.contacts{
    margin-bottom: 20px;
}

.contacts, .skills{
    display: flex;
    gap: 10px;

}

.contact-wrapper{
    display: flex;
    flex-direction: column;
}

.about-title-secondary{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #1e2125;
}

.about-wrapper-links{
    margin-top: 45px;
    gap:60px;
    margin-bottom: 30px;
}

.my-photo{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 10px #000;
}

.my-photo:hover {
    transform: scale(1.01);
}

.softskills{
    display: flex;
    gap: 48px;
}

.item-softskills:not(:last-child){
    margin-bottom: 10px;
}


/* --------------accordion---------------- */

.accordion-list{
    margin: 0 auto;
    text-align: center;
}

.accordion-item{
    font-size: 18px;
    line-height: 28px;
    border-radius: 6px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6,
        -5px -5px 15px #ffffff;
}

.accordion-item:not(:last-child) {
    margin-bottom: 20px;
}

.accordion-title{
    display: block;
    font-size: 18px;
    line-height: 39px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 500;
    color: #3c3e41;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-title:hover, .accordion-title:focus{
    color: #ffffff;
    border-radius: 6px;
    transform: scale(1.05);
    background: linear-gradient(145deg, #6a67ce, #fc636b);
}

.accordion-title::after{
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-right: 10px;
}

.accordion-text{
    display: none;
    font-size: 14px;
    color: #3c3e41;
    border-bottom: 1px solid #e3e9ed;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondary{
    font-size: 16px;
    line-height: 28px;
}

.accordion-input{
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
}

.accordion-input:checked ~ .accordion-text{
    display: block;
}

.accordion-input:checked ~ .accordion-title::after {
    content: '\2796';
    font-size: 13px;
    color: #777;
    float: right;
    margin-right: 10px;
}

.accordion-input:checked ~.accordion-title {
    color: #ffffff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: linear-gradient(145deg, #6a67ce, #fc636b);
}

.work-item{
    list-style: inside;
    text-align: left;
}

/* ---------------------------portfolio------------------------ */



.portfolio-item{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6,
            -5px -5px 15px #ffffff;
}



.portfolio-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.portfolio-title{
    font-size: 24px;
    line-height: 39px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 500;
    color: #3c3e41;
    margin-bottom: 10px;
}

.portfolio-text{
    font-size: 14px;
    color: #3c3e41;
    text-align: center;
}

.gap{
    margin-bottom: 20px;
}

.portfolio-figure{
    height: 300px;
    overflow: hidden;
}
.portfolio-img{
    width: 100%;
    max-width: max-content;
    transform: translateY(0);
    transition: 10s ease-out;
}

.portfolio-img:hover{
    transform: translateY(calc(-100% + 400px));
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding-top: 14px;
    padding-bottom: 48px;
    padding-left: 40px;
    z-index: 2;
    transform: translateX(0%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-logo {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #0d1013;
    margin-bottom: 40px;
    margin-top: 100px;
}

.menu-list {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.menu-item {
    display: block;
    color: #0d1013;
    cursor: pointer;
}

.menu-item:last-child{
    margin-bottom: 30px;
}

.menu-item:hover,
.menu-item:focus {
    color: #fc636b;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6,
        -5px -5px 15px #ffffff;
}

.menu-button:hover,
.menu-button:focus {
    transform: scale(1.1);
}

.close{
    position: absolute;
    right: 20px;
    
}

.menu-contacts{
    font-size: 26px;
    text-align: center;
    justify-content: center;
}

.footer{
    text-align: center;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-text{
    color: #0d1013;
    margin-top: 20px;
    border-top: 1px solid #dce1e4;
    padding-top: 30px;
}



@media screen and (max-width: 479px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        width: 320px;
    }

    .softskills {
        display: block;
    }

    .list-softskills{
        margin-bottom: 20px;
    }

    .about-title-secondary{
        text-align: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        width: 480px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        width: 768px;
    }

    .about-title {
        font-size: 50px;
        line-height: 60px;
    }

    .menu-button {
        display: none;
    }

    .header-wrapper {
        display: block;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        width: 1200px;
    }

    .about {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-title {
        font-size: 60px;
        line-height: 62px;
    }

    .about-text {
        letter-spacing: 3px;
    }

    .my-photo {
        width: 400px;
    }

    .header-wrapper {
        display: block;
    }

    .menu-button {
        display: none;
    }

    .about-wrapper-links {
        display: flex;
    }

    .contacts {
        margin-bottom: 0;
    }

    .section-title {
        font-size: 60px;
    }

    .portfolio-item {
        display: flex;
    }

    .portfolio-wrapper {
        width: 50%;
        margin-bottom: 0;
    }

    .portfolio-figure {
        width: 50%;
        height: 400px;
    }

    .accordion-title {
        font-size: 24px;
    }

    .secondary {
        font-size: 18px;
    }

    .about-wrapper {
        margin-top: 0px;
        padding-top: 40px;
    }
}